<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card">
				<div class="card-header"><div class="card-title"><div class="title">Categories</div></div></div>
				<div class="card-body">
					<div class="btn-group">
						<a href="#" class="btn btn-success">Create category</a>
					</div>
          <table class="table table-striped">
            <thead>
              <th>Title</th>
              <th>Status</th>
              <th></th>
            </thead>
          </table>
				</div>
			</div>
		</div>
	</div>
</div>
