.notification  {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 99999;
	width: 300px;
}
.app-container .side-body {
	padding-top: 90px;
}
.card {
	overflow:initial;
}
.row.auth {
  margin-top: 60px;
}
.input-group-btn .btn {
	margin-top: 0px;
}

.table.table-striped span.company.sub-title {
	clear: both;
  font-size: 11px;
  color: #999;
  display: block;
  margin: 0px;
  border-bottom: none;
  padding: 0px;
}
a.form-link {
    font-size: 14px;
    padding: 6px 12px;
    displaY: block;
}

.dropdown-menu>li>form input {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	border: none;
	background-color: #fff;
	width: 100%;
	text-align: left;
}
.dropdown-menu>li>form input:hover {
  background-color: #f5f5f5;
}

.column-actions,
.column-status {
	width: 100px;
}
.dropdown-menu>li>a {
	cursor: pointer;
}
.card.article .caption {
	height: 160px;
}
.card.article .caption h3 {
	height: 100px;
}
.card.article .image{
	background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
	height: 250px;
}
