.tags-select2 {
	width: 100%;
}

/*
Colours
#FEC606 Yellow
#0A710A Green
#C0392B Red
#282830 Black
#004774 Blue

*/
html {
    /*background: #000;*/
    height: 100%;
}
body {
	background: #eee;
}

img {
	width: 100%;
}
footer img {
	width: auto;

}
.clearfix {
	clear: both;
}

.breadcrumb {
  background: #fff;
}
.breadcrumb a {
  color: #777;
}
.breadcrumb .active {
  color: #000;
}
.category-detail {
	padding: 0px 15px;
}

.article-image {
	background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
}

.article-card {
	margin: 15px 0px;
	background: white;
	border-top: 5px solid #C0392B;
	position: relative;
	display: block;
	color: #000;
}

.article-card:hover {
	color: #000;
}

.article-card .article-image {
	height: 200px;
}

.article-card .body {
	padding: 5px 10px;
	height: 150px;
}
.article-card .body .card-title {
	font-size: 18px;
	height: 100px;
}
.article-card .footer {
	padding-top: 15px;
	color: #bbb;
}
#article-detail main {
    margin: 15px 0px 30px;
}
.article-detail {
	background: white;
	padding: 15px 0px;
	border-top: 5px solid #C0392B;
}
.article-detail h1 {
    margin-top: 0px;
    font-size: 24px;
}
.article-detail a {
	font-size: 16px;
}
.article-detail .article-image {
	height: 400px;
}
.article-detail div.description,
.article-detail div.description p,
.article-detail div.description a,
.article-detail div.description li {
	font-size: 14px;
}
.article-detail div.description img {
	width: auto;
}
.btn.btn-theme {
  margin-top: 15px;
  border-radius: 0px;
  border-color: #C0392B;
  background: #C0392B;
  color: #fff;
	float: right;
}
.btn.btn-theme:hover {
	background-color: #9B2114;
}
#disqus_thread {
	padding: 15px;
  background: white;
  margin-top: 30px;
  border-top: 5px solid #C0392B;
	margin-bottom: 30px;
}

footer {
	background: #000;
	padding: 30px 0px;
	color: #ccc;
}
footer .col {
	margin-bottom: 30px;
}
footer h2 {
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	padding-bottom:15px
}
footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
footer li {
	margin-bottom: 10px;
}
footer .articles li {
	height: 40px;
}
footer li img{
	float: left;
	margin-right: 10px;
}
footer a{
	color: #bbb;
}
footer a:hover {
	color: #fff;
}
@media screen and (max-width: 767px){
	body {
		padding-top: 65px;
	}
	.article-detail h1 {
		margin: 0px;
		margin-top: 30px;
	}
}
@media screen and (min-width: 768px){
	body {
		padding-top: 135px;
	}
	.navbar {
    background: url('/img/nav-bg.png');
		border-bottom: 1px solid #ccc;
	}
	.level-1, .level-2, .level-3 {
		clear: both;
		float: left;
	}
	.level-1 {
		clear: right;
	}
	.level-2 li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.level-2 li:first-child a,
	.level-3wille li:first-child a  {
    padding-left: 0px;
	}
	.level-3 li a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-default .navbar-nav.level-1>li>a,
	.navbar-default .navbar-nav.level-2>li>a,
	.navbar-default .navbar-nav.level-3>li>a,
	.navbar-default .navbar-nav.level-1>li.active>a,
	.navbar-default .navbar-nav.level-2>li.active>a,
	.navbar-default .navbar-nav.level-3>li.active>a{
		background: transparent;
	}
	.navbar-default .navbar-nav.level-1>li>a,
	.navbar-default .navbar-nav.level-2>li>a{
		color: white;
	}
	.navbar-default .navbar-nav.level-3>li>a{
		color: #777;
	}
	.navbar-default .navbar-nav.level-1>li>a:hover,
	.navbar-default .navbar-nav.level-2>li>a:hover{
		color: #eee;
	}
	.navbar-default .navbar-nav.level-3>li>a:hover{
		color: #000;
	}
}
